.splitPopup {
  background-color: var(--primary-bg-color);
  width: 80em;
  border-radius: 10px;
  border: solid var(--third-bg-color);
}

.splitPopup > .content {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
}

.splitPopup .content .part {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: auto;
  grid-column-start: span 2;
}

.partButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: span 2;
  gap: 1em;
  margin: 0.5em;
  padding: 0.5em;
}

.splitButtons {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  color: var(--primary-txt-color);
  border: none;
  outline: none;
}

.splitButtons:hover {
  background-color: var(--fourth-bg-color);
  color: var(--secondary-txt-color);
  border-radius: 10px;
}

.splitPopup > .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 0.3em;
  padding: 0.3em;
}

.splitPopUpTitle {
  text-align: center;
  margin: auto;
}

.splitPopup .header {
  width: 100%;
  text-align: center;
  padding: 0.3em;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.splitPopup .close {
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.splitPopup .close:hover {
  background-color: red;
  color: white;
}
