.grid-container-form-criteria-sentence {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50em);
  grid-template-rows: min-content min-content min-content;
  gap: 1em 1em;
}

.buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1em 1em;
}
