.dropdownChoiceDiv {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.dropdownChoiceDiv button {
  float: left;
  color: var(--primary-txt-color);
  text-align: center;
}

.dropdownChoice {
  overflow: hidden;
}

.dropdownChoice .dropbtn {
  border: none;
  outline: none;
  color: var(--primary-txt-color);
  background-color: inherit;
  margin: auto;
  width: 100%;
}

.dropdownChoice:hover .dropbtn {
  background-color: blue;
  border-radius: 10px;
}

.dropdownChoice-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dropdownChoice-content button {
  float: none;
  color: var(--primary-txt-color);
  text-decoration: none;
  background-color: #333;
  display: block;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.dropdownChoice-content button:hover {
  background-color: blue;
}

.dropdownChoice:hover .dropdownChoice-content {
  display: block;
}

.choiceButton {
  background-color: blue;
}
