.grid-container-mainGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 55em);
  gap: 1em;
  margin: 1em;
}

.ending {
  color: var(--secondary-txt-color);
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.tenseName {
  color: var(--fourth-txt-color);
}

.verbConjugationTableStyle {
  display: grid;
  grid: 1fr 2fr / repeat(3, 1fr);
  border-radius: 10px;
  margin: 0.5em;
  font-weight: bold;
  border: solid var(--third-bg-color);
}

.verbTitleWithBorderStyle {
  background-color: var(--secondary-bg-color);
  border: solid var(--third-bg-color);
  padding: 0.3em;
}

.verbTenseStyle {
  display: grid;
  grid-row-start: span 4;
  background-color: var(--secondary-bg-color);
  font-weight: bold;
}

.verbContentStyle {
  grid-column-start: span 2;
  display: grid;
  grid: repeat(2, 1fr) / 1fr 1fr;
}

.verbWithBorderStyle div {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.verbWithBorderStyle {
  border: solid var(--third-bg-color);
  padding: 0.3em;
  display: flex;
}
