.verbsPage {
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  gap: 1em;
  margin: 0.5em;
}

.grid-container-verb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "verb pronunciation pronunciation pronunciation"
    "verb meaning meaning meaning"
    "groupe groupe groupe groupe";
  border-radius: 10px;
  background-color: var(--fourth-bg-color);
  margin: 0.5em;
  padding: 0.5em;
}
.verb {
  grid-area: verb;
  text-align: left;
  font-weight: bold;
  font-size: xxx-large;
}
.pronunciation {
  grid-area: pronunciation;
  font-weight: bold;
}

.groupe {
  grid-area: groupe;
}
