.iConjugationTable {
  margin: 0.5em;
}

.iConjugationTable table,
.iConjugationTable td,
.iConjugationTable th {
  border: solid;
  border-color: rgba(3, 54, 18, 0.575);
}

.iConjugationTable th {
  background-color: #22a952;
  font-weight: bold;
  padding: 0.5em;
}

.iConjugationTable td {
  background-color: rgba(38, 113, 22, 0.48);
  padding: 0.5em;
}
