/**** variables globales ****/
:root {
  --primary-bg-color: #054a29;
  --secondary-bg-color: #137547;
  --third-bg-color: #2a9134;
  --fourth-bg-color: #3fa34d;
  --fifth-bg-color: #5bba6f;

  --filters-bg-color: var(--secondary-bg-color);

  --primary-txt-color: #white;
  --secondary-txt-color: #137547;
  --third-txt-color: ;
}

/**** global CSS *****/
body {
  background-color: var(--primary-bg-color);
  color: #ffffff;
  height: minmax(100%, fit-content());
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 0.1em;
  width: max-content;
  margin: 0.1em;
}

.app-container {
  display: grid;
  grid-template-rows: min-content max-content;
  padding: 0.4em;
  gap: 1em;
}

/* css pour la nav bar*/
.navbarMenu {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  font-weight: bold;
}

.navbarMenu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdownMenu {
  float: left;
  overflow: hidden;
}

.dropdownMenu .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

.navbarMenu a:hover,
.dropdownMenu:hover .dropbtn {
  background-color: red;
  border-radius: 10px;
}

.dropdownMenu-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dropdownMenu-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownMenu-content a:hover {
  background-color: red;
}

.dropdownMenu:hover .dropdownMenu-content {
  display: block;
}

label {
  margin: 0.4em;
}

/**** CSS for filter form ****/
.filterStyle {
  background-color: var(--filters-bg-color);
  border-radius: 10px;
  padding: 0.3em;
}

.filtersButtons {
  background-color: #333;
  border-radius: 10px;
  color: white;
  border: none;
  outline: none;
}

.radicalsNumberButtons {
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.radicalsNotNumberButtons {
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.radicalsNotNumberButtons:hover {
  background-color: var(--primary-bg-color);
}

/**** CSS for creation and modification of entities *****/
.modificationForm {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--third-bg-color);
  margin: 1em;
  gap: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

/**** CSS for individual meaning and pronunciation *****/
.onemeaning {
  background-color: var(--third-bg-color);
  border-radius: 10px;
  padding: 0.3em;
  margin: 0.5em;
}

.scroll {
  opacity: 0.3;
  background-color: var(--fourth-bg-color);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.scroll:hover {
  opacity: 1;
}

.arrow-up {
  color: white;
}
