/**** variables globales ****/
:root {
  --primary-bg-color: #313638;
  --secondary-bg-color: #a89b9d;
  --third-bg-color: #f1f8f3;
  --fourth-bg-color: #3ea1c7;
  --fifth-bg-color: #5cd1ff;

  --filters-bg-color: var(--secondary-bg-color);

  --primary-txt-color: white;
  --secondary-txt-color: orange;
  --third-txt-color: var(--fourth-bg-color);
  --fourth-txt-color: black;
}

/**** global CSS *****/
html {
  min-height: 100%;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  color: var(--secondary-txt-color);
  padding: 0.1em;
  width: max-content;
  margin: 0.1em;
}

h3 {
  color: var(--third-txt-color);
  padding: 0.1em;
  width: max-content;
  margin: 0.1em;
}

h4 {
  padding: 0.1em;
  width: max-content;
  margin: 0.1em;
}

.app-container {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content max-content;
  gap: 1em;
}

/* css pour la nav bar*/
.navbarMenu {
  overflow: hidden;
  background-color: black;
  font-weight: bold;
  font-size: large;
}

.navbarMenu a {
  float: left;
  color: var(--primary-txt-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdownMenu {
  float: left;
  overflow: hidden;
}

.dropdownMenu .dropbtn {
  border: none;
  outline: none;
  color: var(--primary-txt-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: large;
}

.navbarMenu a:hover,
.dropdownMenu:hover .dropbtn {
  background-color: red;
  border-radius: 10px;
}

.dropdownMenu-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dropdownMenu-content a {
  float: none;
  color: var(--primary-txt-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownMenu-content a:hover {
  background-color: red;
}

.dropdownMenu:hover .dropdownMenu-content {
  display: block;
}

label {
  margin: 0.4em;
}

/**** CSS for filter form ****/
.validFormButton {
  background-color: var(--fourth-bg-color);
  color: var(--primary-txt-color);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.validFormButton:hover {
  background-color: var(--fifth-bg-color);
}

.hideFilterButtons {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hideFilterButtons:hover {
  background-color: black;
}

.filterStyle {
  background-color: var(--filters-bg-color);
  border-radius: 10px;
  padding: 0.3em;
}

.filtersButtons {
  background-color: #333;
  color: var(--primary-txt-color);
  margin-top: 0.4em;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filtersButtons:hover {
  background-color: black;
}

.radicalsNumberButtons {
  background-color: blue;
  color: var(--primary-txt-color);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.radicalsNotNumberButtons {
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.radicalsNotNumberButtons:hover {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
}

.visualizationObjectLink {
  text-decoration: none;
  color: var(--primary-txt-color);
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.visualizationObjectLink:hover {
  text-decoration: none;
  background-color: orange;
}

/**** CSS for creation and modification of entities *****/
.modificationForm {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em;
  gap: 1em;
  padding: 0.5em;
}

/**** CSS for individual meaning and pronunciation *****/
.onemeaning {
  background-color: var(--fifth-bg-color);
  border-radius: 10px;
  padding: 0.3em;
  margin: 0.5em;
}

/*** CSS for scroll to top button ***/
.scroll {
  opacity: 0.3;
  background-color: var(--primary-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: var(--primary-txt-color);
  border: solid var(--third-bg-color);
}

.scroll:hover {
  opacity: 1;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

/*** copie class bootstrap ***/
.form-control-modif {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-group-modif {
  display: grid;
  grid: min-content 1fr / 1fr;
}

.form-group-modifhas-error {
  display: grid;
  grid: min-content 1fr min-content / 1fr;
}

.alert-danger-modif {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-modif {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

/*** CSS for adjective course ***/
.adjectiveCourse {
  margin: 0.5em;
}
