.help-container {
  display: grid;
  grid: 1fr / 2fr 10fr;
}

.howToUseSection {
  display: grid;
  grid: min-content 1fr / 1fr;
  border-radius: 10px;
  gap: 0.5em;
  margin: 0.5em;
}

.howToUseSectionTitle {
  color: var(--primary-txt-color);
  font-weight: bold;
  font-size: xx-large;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.1em;
}

.howToUse {
  display: grid;
  grid: 1fr / min-content 1fr;
  padding: 0.5em;
  color: var(--secondary-txt-color);
}

/*** CSS for summary ***/
#toc_container {
  background: blue none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5em;
  gap: 1em;
  border-radius: 10px;
}

#toc_container div {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
}

#toc_container div a {
  text-decoration: none;
}

#toc_container div:hover {
  background-color: red;
  border-radius: 10px;
}
