.particulePage {
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  gap: 1em;
  margin: 0.5em;
}

.particuleListStyle {
  border-radius: 10px;
  background-color: var(--fourth-bg-color);
  margin: 0.5em;
  padding: 0.5em;
}

.particuleTitleStyle {
  font-weight: bold;
  font-size: xxx-large;
}

.particuleDescription p,
.particuleSummary {
  margin: 0.5em;
}
